---
import Section from "../Section.astro"

import { getI18N } from '@/i18n/index'
const { currentLocale } = Astro;
const i18n = getI18N({currentLocale})

const { education } = i18n;

const sectionTitle = currentLocale == 'es' ? 'Educación' : 'Education'
---

<Section title={sectionTitle}>
  <ul class="flex flex-col gap-8">
    {
      education.map(({ institution, startDate, endDate, area }) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual"
        const years = `${startYear} - ${endYear}`

        return (
          <li class="mt-6">
            <article>
              <header class="flex justify-between items-start mb-1">
                <div>
                  <h3 class="text-neutral-600 dark:text-neutral-200 text-lg font-semibold">{institution}</h3>
                </div>

                <time class="min-w-[102px] text-sm text-right text-neutral-500 dark:text-neutral-400 font-medium">{years}</time>
              </header>

              <footer>
                <p class="text-neutral-400 dark:text-neutral-300 text-sm -mt-1">{area}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>