---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import X from "@/icons/X.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import WorldMap from "@/icons/WorldMap.astro";
import type { SocialIcon } from "@/types";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;
---

<Section>
  <div class="grid xs:grid-cols-[100px_auto] gap-4">
    <figure class="my-auto">
      <img
        src={image}
        alt={name}
        class="max-w-[100px] transition-all duration-200 hover:scale-105 rounded-full my-auto"
      />
    </figure>
    <div class="flex flex-col items-start justify-center">
      <h1 class="text-neutral-600 dark:text-neutral-200 text-xl sm:text-2xl font-semibold">
        Hola, soy{" "}
        <span class="text-transparent bg-clip-text bg-gradient-to-l to-blue-600 from-purple-500 dark:from-blue-600 dark:to-purple-400">
          {name}
        </span>
      </h1>
      <h2 class="text-neutral-400 dark:text-neutral-400 text-md">{label}</h2>
      <span class="flex items-center gap-1 text-neutral-400 dark:text-neutral-400 text-sm">
        <WorldMap /> {city}, {region}
      </span>
      <footer class="print:hidden flex text-sm gap-1 mt-1">
        {email && (
          <a
            href={`mailto:${email}`}
            title={`Enviar un correo electrónico a ${name} al correo ${email}`}
            target="_blank"
            rel="noopener noreferrer"
            class="flex h-fit border items-center gap-1 p-1.5 rounded-md focus:ring-2 ring-neutral-200 dark:ring-neutral-700 hover:bg-neutral-100 hover:dark:bg-neutral-800 focus:bg-neutral-100 focus:dark:bg-neutral-800 text-neutral-400 hover:text-neutral-600 dark:hover:text-neutral-200"
          >
            <Mail />
          </a>
        )}
        {profiles.map(({ network, url, username }) => {
          const Icon = SOCIAL_ICONS[network];
          return (
            <a
              href={url}
              title={`Visitar el perfil de ${name} en ${network}`}
              target="_blank"
              rel="noopener noreferrer"
              class="flex max-h-[30px] border items-center gap-1 p-1.5 rounded-md focus:ring-2 ring-neutral-200 dark:ring-neutral-700 hover:bg-neutral-100 hover:dark:bg-neutral-800 focus:bg-neutral-100 focus:dark:bg-neutral-800 text-neutral-400 hover:text-neutral-600 dark:hover:text-neutral-200"
            >
              <Icon />
              <span>{network}</span>
            </a>
          );
        })}
      </footer>
    </div>
  </div>
</Section>