---
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";
import Section from "@/components/Section.astro";
import type { SocialIcon } from "@/types";
import WorldMap from "@/icons/WorldMap.astro";
import X from "@/icons/X.astro";

import { getI18N } from "@/i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { basics } = i18n;
const { name, label, image, location, profiles, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
};

const saludo = currentLocale == "es" ? "Hola, soy" : "Hi, I'm";
const sectionId = currentLocale == "es" ? "sobre-mi" : "about";
---

<Section>
  <div id={sectionId} class="grid xs:grid-cols-[100px_auto] gap-4">
    <figure class="my-auto">
      <img
        src={image}
        alt={name}
        class="max-w-[100px] transition-all duration-200 hover:scale-105 rounded-full my-auto"
      />
    </figure>
    <div class="flex flex-col items-start justify-center">
      <h1
        class="text-neutral-600 dark:text-neutral-200 text-xl sm:text-2xl font-semibold"
      >
        {saludo}{" "}
        <span
          class="text-transparent bg-clip-text bg-gradient-to-l to-blue-600 from-purple-500 dark:from-blue-500 dark:to-purple-400"
        >
          {name}
        </span>
      </h1>
      <h2 class="text-neutral-400 dark:text-neutral-400 text-md">{label}</h2>
      <span
        class="flex items-center gap-1 text-neutral-400 dark:text-neutral-500 text-sm"
      >
        <WorldMap />
        {city}, {region}
      </span>
      <footer class="print:hidden flex text-sm gap-1.5 mt-1">
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
                class="flex group items-center shadow-sm gap-1.5 relative overflow-hidden rounded-lg p-[2px] outline-none"
              >
                <span class="absolute inset-[-1000%] animate-[spin_3s_linear_infinite] bg-neutral-200 dark:bg-neutral-800 group-hover:bg-[conic-gradient(from_90deg_at_50%_50%,#be84fc_0%,#3f82f6_50%,#be84fc_100%)] group-focus:bg-[conic-gradient(from_90deg_at_50%_50%,#be84fc_0%,#3f82f6_50%,#be84fc_100%)]" />
                <div class="text-neutral-600 dark:text-white inline-flex h-full w-full cursor-pointer items-center gap-1.5 rounded-md justify-between bg-neutral-100 dark:bg-neutral-900 group-hover:bg-neutral-100/85 dark:group-hover:bg-neutral-900/90 transition-all px-2 py-1 duration-300 backdrop-blur-3xl">
                  <Icon />
                  <span>{network}</span>
                </div>
              </a>
            );
          })
        }
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
              class="flex group items-center shadow-sm gap-1.5 relative overflow-hidden rounded-lg p-[2px] outline-none"
            >
              <span class="absolute inset-[-1000%] animate-[spin_3s_linear_infinite] bg-neutral-200 dark:bg-neutral-800 group-hover:bg-[conic-gradient(from_90deg_at_50%_50%,#be84fc_0%,#3f82f6_50%,#be84fc_100%)] group-focus:bg-[conic-gradient(from_90deg_at_50%_50%,#be84fc_0%,#3f82f6_50%,#be84fc_100%)]" />
              <div class="text-neutral-600 dark:text-white inline-flex h-full w-full cursor-pointer items-center gap-1.5 rounded-md justify-between bg-neutral-100 dark:bg-neutral-900 group-hover:bg-neutral-100/85 dark:group-hover:bg-neutral-900/90 transition-all px-2 py-1 duration-300 backdrop-blur-3xl">
                <Mail />
              </div>
            </a>
          )
        }
      </footer>
    </div>
  </div>
</Section>
